<h1>hola muhcha</h1>

<button id="nuevo"> button</button>

<script>
    const nuevo = document.getElementById("nuevo");
    nuevo.addEventListener("click",() => {
        alert("hello form roket")
    });
</script>